<footer>
	<section>
		<h2 class="tit"><i lang="en">QUICK LINKS</i></h2>
		<ul>
			<li><a href="/">HOME</a></li>
			<li><a href="/Program">PROGRAM</a></li>
			<li><a href="/In_curand">ÎN CURÂND</a></li>
			<li><a href="/Despre_noi">DESPRE NOI</a></li>
			<li><a href="/BIBLIOGRAFIE/Bibliografie.html">BIBLIOGRAFIE</a></li>
		</ul>
	</section>
</footer>