<!DOCTYPE  html>
<html lang="ro">
	<head>
		<title> ÎN CURÂND </title>
		<meta charset="utf-8">
		<meta name="keywords" content="Cinema,Film,Curând,Lansare,Detalii,Actual">
		<meta name="description" content="Black Box Cineva v-a aduce filme cât mai noi.">
		<meta name="author" content="Black Box Cinema" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" type="image/x-icon" href="/imagini/BBC.ico"/>
		<link rel="stylesheet" type="text/css" href="/CSS/stil_general.css"/>
		<link rel="stylesheet" type="text/css" href="/CSS/CSS-media/stil_general_500.css"/>
		<link rel="stylesheet" type="text/css" href="/CSS/CSS-media/stil_general_700.css"/>
		<link rel="stylesheet" type="text/css" href="/CSS/stil_in_curand.css"/>
		<link rel="stylesheet" type="text/css" href="/CSS/CSS-media/stil_in_curand_500.css"/>
		<link rel="stylesheet" type="text/css" href="/CSS/CSS-media/stil_in_curand_700.css"/>
		<link rel="stylesheet" type="text/css" href="/CSS/CSS-media/stil_in_curand_1120.css"/>
		<script src="JAVA/java_galerie.js"></script>
	</head>
	<body>
		<%- include("../fragmente/header")  %> 
		<main>
			<section id="cc"> 
				<h2 class="tit">Toate filmele care vor apărea în curând</h2>
				<button type="button" id="imag">Ascunde imagini</button>
				<p class="par1"> &#127909; Dorim ca filmele transmise la cinema să fie cât mai <b>actuale</b>, de aceea Black Box Cinema se ocupă întotdeauna ca filmele noi apărute să fie redate cât mai repede. &#127909; </p>
				<div class="soon">
					<img class="imgsoon" src="/IMAGINI/Spy.jpg" alt="My spy" title="My spy"> 
					<div class="imfsoon">
						<span class="t"> Data lansării: <time datetime="2020-03-13">13 martie 2020</time></span>
						<a class="lp" href="/Spy"> Vezi pagina filmului pentru mai multe detalii apăsând click aici.</a>
						<span class="incurand"> În <b>curând</b> la BLACK BOX CINEMA! </span>
					</div>
				</div>
				<div class="soon">
					<img class="imgsoon" src="/IMAGINI/Fara_zgomot_2.jpg" alt="Fără zgomot 2" title="Fără zgomot 2"> 
					<div class="imfsoon">
						<span class="t"> Data lansării: <time datetime="2020-03-20">20 martie 2020</time></span>
						<a class="lp" href="/Fara_zgomot_2"> Vezi pagina filmului pentru mai multe detalii apăsând click aici.</a>
						<span class="incurand"> În <b>curând</b> la BLACK BOX CINEMA! </span>
					</div>
				</div>
				<div class="soon">
					<img class="imgsoon" src="/IMAGINI/Mulan.jpg" alt="Mulan" title="Mulan"> 
					<div class="imfsoon">
						<span class="t"> Data lansării: <time datetime="2020-03-27">27 martie 2020</time></span>
						<a class="lp" href="/Mulan"> Vezi pagina filmului pentru mai multe detalii apăsând click aici.</a>
						<span class="incurand"> În <b>curând</b> la BLACK BOX CINEMA! </span>
					</div>
				</div>
				<div class="soon">
					<img class="imgsoon" src="/IMAGINI/Vaduva_neagra.jpg" alt="Văduva neagră" title="Văduva neagră"> 
					<div class="imfsoon">
						<span class="t"> Data lansării: <time datetime="2020-05-01">1 mai 2020</time></span>
						<a class="lp" href="/Vaduva_neagra"> Vezi pagina filmului pentru mai multe detalii apăsând click aici.</a>
						<span class="incurand"> În <b>curând</b> la BLACK BOX CINEMA! </span>
					</div>
				</div>
				<div class="soon">
					<img class="imgsoon" src="/IMAGINI/Peter_Iepurasul.jpg" alt="Peter Iepuraşul: Fugit de acasă" title="Peter Iepuraşul: Fugit de acasă"> 
					<div class="imfsoon">
						<span class="t"> Data lansării: <time datetime="2020-04-03">3 aprilie 2020</time></span>
						<a class="lp" href="/Peter_Iepurasul"> Vezi pagina filmului pentru mai multe detalii apăsând click aici.</a>
						<span class="incurand"> În <b>curând</b> la BLACK BOX CINEMA! </span>
					</div>
				</div>
			</section>
		</main>
		<%- include("../fragmente/footer")  %> 
	</body>
</html>