<!DOCTYPE  html>
<html lang="ro">
	<head>
		<title> VĂDUVA NEAGRĂ </title>
		<meta charset="utf-8">
		<meta name="keywords" content="Cinema,Film,Misiune,Război,Luptă,Putere">
		<meta name="description" content="Aceasta este povestea Natashei Romanoff și a misiunilor pe care le-a avut între Civil War și Infinity War.">
		<meta name="author" content="Black Box Cinema" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" type="image/x-icon" href="/IMAGINI/BBC.ico"/>
		<link rel="stylesheet" type="text/css" href="/CSS/stil_general.css"/>
		<link rel="stylesheet" type="text/css" href="/CSS/CSS-media/stil_general_500.css"/>
		<link rel="stylesheet" type="text/css" href="/CSS/CSS-media/stil_general_700.css"/>
		<link rel="stylesheet" type="text/css" href="/CSS/stil_film.css"/>
		<link rel="stylesheet" type="text/css" href="/CSS/CSS-media/stil_film_500.css"/>
		<link rel="stylesheet" type="text/css" href="/CSS/CSS-media/stil_film_700.css"/>	
		<link rel="stylesheet" type="text/css" href="/CSS/CSS-media/stil_film_1140.css"/>
	</head>
	<body>
		<%- include("../fragmente/header")  %> 
		<main>
			<section> 
				<h2 class="tit">VĂDUVA NEAGRĂ</h2>
				<div class="pagd">
					<img class="imf" src="/IMAGINI/Vaduva_neagra.jpg" alt="Văduva neagră" title="Văduva neagră"> 
					<div class="det">
							<span>TITLU ORIGINAL: <b><i lang="en">Black Widow</i></b></span>
							<span>GENUL FILMULUI: <b>Acţiune,Aventură,SF</b></span>
							<span>DISTRIBUȚIE: Florence Pugh, Scarlett Johansson</span>
							<span>REGIZOR: Cate Shortland</span>
							<span>CLASIFICARE: <b><strong>Acord parental pentru copiii sub 13 ani.</strong></b></span>
							<span>LIMBĂ NATIVĂ: EN</span>
							<span>FORMATUL PROIECȚIEI: <b>3D</b></span>
							<span>DATA LANSĂRII: <time datetime="2020-05-01">1 mai 2020</time></span>
							<span>DURATĂ: 180 minute</span>
							<a class="linkr" href="/Rezervare_bilet">Rezervă-ți bilet la acest film!</a>
					</div>
				</div>
				<section class="desc">
					<h3 class="tit_pag">Descriere</h3>
					<p> Aceasta este povestea Natashei Romanoff și a misiunilor pe care le-a avut între <i lang="en">Civil War</i> și <i lang="en">Infinity War</i>.</p>
						
				</section>
			</section>
		</main>
		<%- include("../fragmente/footer")  %>
	</body>
</html>